
body {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    margin: 0%;
    margin-bottom: 40px;
    padding: 0;
    margin: 0;
    height: 7vh;
  }
  
  .home-container {
      background-color: #fafafaea; /* Color de fondo para la sección de Home */
      padding: 30px; /* Espaciado interno */
    }
    
    /* Estilos para los elementos dentro de la sección de Home, si es necesario */
    .home-container h1 {
      color: #2F3033; /* Color de texto para los títulos */
      text-align: center;
    }
    
    .home-container p {
      color: #2F3033; /* Color de texto para los párrafos */
      text-align: center;
    }  
  
  .seccion_prueba{
    font-size: 22px;    
    font-weight: bold;
    padding: 6.7px;
    padding-left: 0px;
    padding-right: 0px;
    color: rgba(255, 255, 255, 0.945);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1px;
    cursor:pointer;
    letter-spacing: 0.4px;   
    text-shadow: 2px 1px 2px rgb(13, 14, 0); 
    background: linear-gradient(90deg, #144c6e, #144c6e);
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 200px;
  } 
  
  .seccion_prueba:hover {
    font-size: 22px; /* Ajusta este valor a tu gusto */
    color: rgba(226, 226, 226, 0.925);
  }

  .nav-icon {
    margin-left: 5px;
    padding: 5px 0;        
  }

  /* acomodamiento de elementos navbar */
  .seccion_1{
    width: 200px;
    position: auto;    
  }
  
  .seccion_2{
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;            
    padding: 6.7px;
    padding-left: 18px;
    padding-right: 18px;
    letter-spacing: 0.4px;
    background: linear-gradient(90deg, #144c6e, #144c6e);
    border-radius: 5px;
    margin-top: 1px;
    color: rgba(255, 255, 255, 0.945);
    text-shadow: 5px 2px 4px rgb(13, 14, 0); 
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;    
  }

  .nav-icon2 {
    margin-left: 7px;
    padding: 5px 0;    
  }
  
  .seccion_2:hover {
    font-size: 22px;
    color: rgba(226, 226, 226, 0.925);
  }
  
  .seccion_chamacos{
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 1px;    
    padding: 6.7px;
    letter-spacing: 0.4px;
    background: linear-gradient(90deg, #144c6e, #144c6e);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.945);
    text-shadow: 5px 2px 4px rgb(13, 14, 0);     
    padding-left: 20px;
    padding-right: 20px;    
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 200px;
  }

  .nav-icon3 {
    margin-left: 7px;
    padding: 5px 0;    
  }

  .seccion_chamacos:hover {
    font-size: 22px;
    color: rgba(226, 226, 226, 0.925);
  }
  
  .boton1 button {
      background-color: #072b0a; /* Color de fondo */
      color: rgba(255, 255, 255, 0.89); /* Color del texto */
      padding: 12px 47px; /* Aumento del padding para hacer el botón más ancho */
      border: none; /* Sin borde */
      border-radius: 30px; /* Bordes redondeados */
      border-color: #072b0a;
      cursor: pointer; /* Cursor de ratón */
      font-size: 16px; /* Tamaño de la fuente */
      font-weight: bold; /* Peso de la fuente */
      transition: background-color 0.3s; /* Transición suave del color de fondo */
      margin-top: 10px; /* Margen superior */
    }
    
    .boton1 button:hover {
      background-color: #041105; /* Cambia el color de fondo al pasar el ratón */
    }
    
    .boton2 button {
      background-color: #072b0a; /* Color de fondo */
      color: rgba(255, 255, 255, 0.89); /* Color del texto */
      padding: 12px 47px; /* Aumento del padding para hacer el botón más ancho */
      border: none; /* Sin borde */
      border-radius: 30px; /* Bordes redondeados */
      border-color: #072b0a;
      cursor: pointer; /* Cursor de ratón */
      font-size: 16px; /* Tamaño de la fuente */
      font-weight: bold; /* Peso de la fuente */
      transition: background-color 500ms; /* Transición suave del color de fondo */
      margin-top: 10px; /* Margen superior */
    }
    
    .boton2 button:hover {
      background-color: #041105; /* Cambia el color de fondo al pasar el ratón */
      transform: scale(1.1);
    }
    
    
    .fran-guapo {
      text-align: center; /* Centra el contenido horizontalmente */
      margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    }
    
    .fran-title {
      font-size: 26px; /* Tamaño de fuente */
      color: #ffffffe7; /* Color del texto */
      margin-bottom: 10px; /* Espacio entre el título y la imagen */
      font-weight: bold; /* Peso de la fuente en negrita */
    
    }
    
    .fran-image {
      width: 200px; /* Ancho de la imagen */
      height: 300px; /* Altura de la imagen */
      border-radius: 10px; /* Bordes redondeados */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
      margin: 20px auto; /* Margen superior e inferior de 20px y centrado horizontalmente */
      border: 9px solid #012401d8; /* Borde de color, ajustalo a px */
    }
    
    .texto-fran {
      font-size: 21px; /* Tamaño de la fuente */
      color: #ffffffd8; /* Color del texto */
      font-weight: bold; /* Peso de la fuente en negrita */
      margin-top: 10px; /* Margen superior */
    }    
    
    .contenedor {
      max-width: 1280px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
    }
    
    /* Alineación personalizada para elementos específicos */
    .fran-guapo, .boton2, .boton3, .boton4, .boton5, .boton6 {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
 
    