
.arrow-icon p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color:#666;
}

.arrow-icon .small {
    font-size:14px;    
}

.arrow-icon {
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;    
}

.arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


