#root {
  max-width: 100%;
  max-height: 300px;
  margin: 0 auto;
  padding: 0rem;
}

#elemento-a-mover {
  text-align: auto; /* O cualquier otra alineación que desees */
}

.card {
  padding: 2em; /* ayuda a poner espacio entre letras segun sea asignadas */
}

.read-the-docs {
  color: #888;
}

.secciones_nav ul {
  list-style-type: none; /* Elimina los puntos de lista */
  display: flex; /* Utiliza Flexbox para organizar los elementos horizontalmente */
  justify-content: space-around; /* Distribuye el espacio entre los elementos */
  padding: 0;
}

.secciones_nav {
  background-color: #ddac7ee8; /* Color de fondo rojo suave para la barra de navegación */
  color: #000000d0; /* Color de texto para los elementos de la barra de navegación */
  padding: 1px 0; /* Espaciado interno superior e inferior */
  text-align: center; /* Centra el texto */ 
}

.secciones_nav nav ul {
  list-style-type: none; /* Elimina los puntos de lista */
  display: flex; /* Utiliza Flexbox para organizar los elementos horizontalmente */
  justify-content: space-around; /* Distribuye el espacio entre los elementos */
  padding: 1px;
  text-align: center;
}

.secciones_nav nav li {
  padding: 1.1%; /* Ajusta el espacio interior de cada elemento de lista */
  transition: 500ms; /* Transición para efectos de hover */
}

.secciones_nav nav li:hover {
  color: #000000; /* Cambia el color del texto al pasar el mouse sobre los elementos */
}

.title {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  padding: 2%;
  color: rgba(255, 255, 255, 0.945);
}

.fondo-title {
  background-color: #460d0d;
}